html, body {
    width: 100vw;
    height: 100%;
    font-family: 'proximanova', Helvetica, sans-serif;
    overflow-x: hidden;
}
ul {
    margin: 0;
    padding: 0;
}
ul li {
    list-style: none;
}
a {
    text-decoration: none;
}
p {
    margin: 0px;
}
h1,h2,h3,h4,h5,h6 {
    margin: 0;
    font-weight: normal;
}
button {
    outline: none;
}
:root {
    font-size: 15px;
    @include laptop {
        font-size: 14px;
    }
    @include tablet {
        font-size: 13px; 
    }
    @include phone {
        font-size: 12px;
    }
}
input, textarea {
    box-sizing: border-box;
}
.wrapper {
    min-height: 100%;
    width: 100%;
    position: relative;
    padding: 35px 6.5% 0;
    box-sizing: border-box;
    @include phone() {
        padding-right: 3%;
        padding-left: 3%;
    }
}
.title {
    font-size: 40px;
    margin-bottom: 25px;
    margin-left: 20px;
    @include laptop() {
        text-align: center;
        margin-left: 0;
    }
}
.main {
    display: flex;
    justify-content: space-between;
    @include laptop() {
        flex-flow: column;
        align-items: center;
    }
}
.banner {
    padding: 15px 27px 15px 15px;
    box-sizing: border-box;
    margin: 0 20px;
    width: 565px;
    min-width: 565px;
    height: 295px;
    display: flex;
    background-size: cover;
    @include laptop() {
        margin: 0 0 40px;
    }
    @include tablet() {
        width: 90vw;
        min-width: 90vw;
        flex-flow: column;
    }
    @include phone() {
        padding: 10px;
    }
    &--first {
        background: url('../images/content/bg.png');
        @include tablet() {
            height: auto;
        }
    }
    &--second {
        background: url('../images/content/banner.jpg');
        justify-content: flex-end;
        align-items: flex-end;
        padding-bottom: 17px;
        @include tablet() { 
            width: 90vw;
            background-size: 100% 100%;
            background-repeat: no-repeat;
        }
    }
    &__image {
        margin-right: 40px;
        @include tablet() {
            display: flex;
            justify-content: center;
        }
    }
}
.button {
    padding: 15px;
    background: $pinks;
    border: none;
    max-height: 50px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, .5);
    color: white;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    transition: .5s;
    &:hover {
        background: #ff4f9d;
        transform: scale(1.1);
    }
    @include phone() {
        padding: 15px 10px;
    }
}