@font-face {
    font-family: 'proximanova';
    src: url('./../fonts/proximanova-regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'proximanova';
    src: url('./../fonts/proximanova-bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Umnik';
    src: url('./../fonts/umnik-bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
}