.info {
    &__title {
        font-size: 30px;
        font-weight: bold;
        margin-bottom: 10px;
        @include phone() {
            font-size: 26px;
        }
    }
    &__description {
        font-size: 16px;
        margin-bottom: 15px;
    }
    &__footer {
        display: flex;
        justify-content: space-between;
    }
}