.timer {
    display: flex;
    margin-bottom: 20px;
    &__item {
        text-align: center;
        margin-right: 20px;
        @include phone() {
            margin-right: 15px;
        }
        &:last-child {
            margin-right: 0;
        }
    }
    &__time {
        display: flex;
        margin-bottom: 10px;
        width: 80px;
        height: 55px;
        background: white;
        border-radius: 7px;
    }
    &__value {
        font-size: 55px;
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: 'Umnik', 'sans-serif';
        &:first-child {
            border-right: 2px dashed #fbb100;
        }
    }
    &__type {
        font-size: 16px;
    }
}